
#wrapper {
	width: 100%;
	height: 240px;   /* will be changed by JavaScript to the height of the content area */
	overflow: auto;
}

#scroller {
	margin: 0;
	padding: 0;
	width: 1024px;  /* max number scroll elements + 1 times their width */
	height: 768px;   /* it will be the same as the wrapper's height even after it is changed */
}

.scroller ul {
	display: block;
	float: left;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	list-style: none;
}

#scroller li {
	display: block;
	float: left;
	padding: 0;
	margin: 0;
	width: 100%;       /* this is the width of an individual element */
	height: 100%;
	border-left: 1px solid #ccc;
	border-right: 1px solid #fff;
}

section[data-role="content"]{
	padding: 0;
	margin: 0;
}